{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Story 9 Adham</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container">
	<h1>Find Books Here</h1>

	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
				Top 5 Books
			</button>
		</div>
	</div>
	<br>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Top 5 Liked Books</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
			
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>

	<input id="search">
	<button id="searchbutton" type="button">Search</button>
	
	<table class="table table-bordered" id="demo">
	</table>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
			var putResult
            var likeList
            var likeButton
            var bookData
            var btn
            
            window.onload = function() {
                btn = document.getElementById("searchbutton")
                putResult = document.getElementById("demo");
            
                btn.addEventListener("click", function(){
                    likeList = {
                        0 : 0, 
                        1 : 0,
                        2 : 0,
                        3 : 0,
                        4 : 0,
                        5 : 0,
                        6 : 0,
                        7 : 0,
                        8 : 0,
                        9 : 0,
                    }
            
                    var ourRequest = new XMLHttpRequest();
                    var userKeyword= document.getElementById("search").value;
                    ourRequest.open('GET', 'https://www.googleapis.com/books/v1/volumes?q='+userKeyword)
                    
                    ourRequest.onload= function () {
                        bookData = JSON.parse(ourRequest.responseText)
                        try{
                            renderHTML(bookData)
                        }
                        catch (err){
                            
                        }
                    };
                    ourRequest.send()
            
                })
            }   
            
                function NoAuthor(author) {
                    if (author == undefined){
                        return "Author Not Found"
                    }
                    else
                        return author
                }
                
                function renderHTML(data) {
                    var table="<thead><tr><th>Cover</th><th>Description</th><th>Likes</th></tr></thead><tbody>";

                    for (i = 0; i < data.items.length; i++) {

                        table += "<tr><td>" + 
                        "<img src='"+ data.items[i].volumeInfo.imageLinks.smallThumbnail +"'>"+ "</td><td>" +
                        "<b>Title:</b> " + data.items[i].volumeInfo.title + "<br>" +
                        "<b>Author:</b> " + NoAuthor(data.items[i].volumeInfo.authors) + "<br>" +
                        "<b>Publisher:</b> " + data.items[i].volumeInfo.publisher + "<br>" +
                        "<b>Published Date:</b> " + data.items[i].volumeInfo.publishedDate + "<br>" +
                        "<b>Description:</b> " + data.items[i].volumeInfo.description + "<br>" +
                        "<b>Preview Link:</b> " + data.items[i].volumeInfo.previewLink + "<br>" +
                        "<b>Info Link:</b> " + data.items[i].volumeInfo.infoLink
                        + "</td>";
                        
                        table += "<td style='text-align : center;'><button class='btn btn-default btn-sm' onclick='save"+ i +"()' name='like'>Like</button>" + likeList[i]   
                        +"</td></tr>";
                    }
                    table += "</tbody>" 
                    putResult.innerHTML = table;                   

                }

                function AuthorHandling(author) {
                    if (author == undefined){
                        var AuthorArray = ["Author Not Found"]
                        return AuthorArray
                    }
                    else
                        return author
                }
            

                function save0(evt) {
                    likeList[0]++
                    renderHTML(bookData)
                $.ajax({
                    url: '/',
                    data: {
                        title: bookData.items[0].volumeInfo.title,
                        author : AuthorHandling(bookData.items[0].volumeInfo.authors),
                        likes: likeList[0]
                    },
                    type: 'POST'})
                }
            
                function save1(evt) {
                    likeList[1]++
                    renderHTML(bookData)
                $.ajax({
                    url: '/',
                    data: {
                        title: bookData.items[1].volumeInfo.title,
                        author : AuthorHandling(bookData.items[1].volumeInfo.authors),
                        likes: likeList[1]
                    },
                    type: 'POST'})
                }
            
                function save2(evt) {
                    likeList[2]++
                    renderHTML(bookData)
                $.ajax({
                    url: '/',
                    data: {
                        title: bookData.items[2].volumeInfo.title,
                        author : AuthorHandling(bookData.items[2].volumeInfo.authors),
                        likes: likeList[2]
                    },
                    type: 'POST'})
                }
            
                function save3(evt) {
                    likeList[3]++
                    renderHTML(bookData)
                $.ajax({
                    url: '/',
                    data: {
                        title: bookData.items[3].volumeInfo.title,
                        author : AuthorHandling(bookData.items[3].volumeInfo.authors),
                        likes: likeList[3]
                    },
                    type: 'POST'})
                }
            
                function save4(evt) {
                    likeList[4]++
                    renderHTML(bookData)
                $.ajax({
                    url: '/',
                    data: {
                        title: bookData.items[4].volumeInfo.title,
                        author : AuthorHandling(bookData.items[4].volumeInfo.authors),
                        likes: likeList[4]
                    },
                    type: 'POST'})
                }
            
                function save5(evt) {
                    likeList[5]++
                    renderHTML(bookData)
                $.ajax({
                    url: '/',
                    data: {
                        title: bookData.items[5].volumeInfo.title,
                        author : AuthorHandling(bookData.items[5].volumeInfo.authors),
                        likes: likeList[5]
                    },
                    type: 'POST'})
                }
            
                function save6(evt) {
                    likeList[6]++
                    renderHTML(bookData)
                $.ajax({
                    url: '/',
                    data: {
                        title: bookData.items[6].volumeInfo.title,
                        author : AuthorHandling(bookData.items[6].volumeInfo.authors),
                        likes: likeList[6]
                    },
                    type: 'POST'})
                }
            
                function save7(evt) {
                    likeList[7]++
                    renderHTML(bookData)
                $.ajax({
                    url: '/',
                    data: {
                        title: bookData.items[7].volumeInfo.title,
                        author : AuthorHandling(bookData.items[7].volumeInfo.authors),
                        likes: likeList[7]
                    },
                    type: 'POST'})
                }
            
                function save8(evt) {
                    likeList[8]++
                    renderHTML(bookData)
                $.ajax({
                    url: '/',
                    data: {
                        title: bookData.items[8].volumeInfo.title,
                        author : AuthorHandling(bookData.items[8].volumeInfo.authors),
                        likes: likeList[8]
                    },
                    type: 'POST'})
                }
            
                function save9(evt) {
                    likeList[9]++
                    renderHTML(bookData)
                $.ajax({
                    url: '/',
                    data: {
                        title: bookData.items[9].volumeInfo.title,
                        author : AuthorHandling(bookData.items[9].volumeInfo.authors),
                        likes: likeList[9]
                    },
                    type: 'POST'})
                }

</script>


</body>
</html>